{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="jumbotron">
  <center>
    <h2>Login</h2>
  </center>
</div>
<div class="container">
  <div class="row">
    <row class="col-md-6 col-md-offset-3">
      <form class="login" method="POST" action="/signin/">
        {% csrf_token %}
        <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <label for="usr">User:</label>
          {{ form.username }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="pwd">E-mail:</label>
          {{ form.email }}
        </div>
      </div>
    </div>
        <div class="form-group" >
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <input type="submit" class="logBut btn btn-default" value="Log in"/>
        </div>
        <div class="col-md-3">
          <a class="btn btn-default" type="button" href="{% url 'signup' %}"> Register </a>
        </div>
      </div>
    </div>
      </form>
    </row>
  </div>
</div>
