{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="jumbotron">
  <center>
    <h2>Regiter</h2>
  </center>
</div>
<div class="container">
  <div class="row">
    <row class="col-md-6 col-md-offset-3">
      <form role="form" class="form" method="POST">
        {% csrf_token %}
        <div class="form-group" >
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              {% if form.errors %}
                  {% for field in form %}
                      {% for error in field.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <label for="usr">User:</label>
          {{ form.username }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="pwd">E-mail:</label>
          {{ form.email }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="pwd">Password 1:</label>
          {{ form.password1 }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="pwd">Password 2:</label>
          {{ form.password2 }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="pwd">Phone:</label>
          {{ form.phone }}
        </div>
      </div>
    </div>

    <div class="form-group" >
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <input type="submit" class="btn btn-default"/>
        </div>
      </div>
    </div>
      </form>
    </row>
  </div>
</div>
